In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/lib/spark/python (2.4.8)
Requirement already satisfied: py4j==0.10.7 in /opt/conda/anaconda/lib/python3.7/site-packages (from pyspark) (0.10.7)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#reading the bucket from Google CLoud Storage 
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("CSVReader").getOrCreate()

csv_file_path = "gs://nypd-shooting-dataset/NYPD_Shooting_Incident_Data_Historic_Corrected.csv"

df = spark.read.csv(csv_file_path, header=True, inferSchema=True)
df.printSchema()
df.head()

In [4]:
#replace empty values with unknown

from pyspark.sql.functions import col 

df = df.fillna('UNKNOWN') 
df.select('PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE' ).show()

+--------------+--------+---------+
|PERP_AGE_GROUP|PERP_SEX|PERP_RACE|
+--------------+--------+---------+
|       UNKNOWN| UNKNOWN|  UNKNOWN|
|       UNKNOWN| UNKNOWN|  UNKNOWN|
|       UNKNOWN| UNKNOWN|  UNKNOWN|
|       UNKNOWN| UNKNOWN|  UNKNOWN|
|         25-44|       M|    BLACK|
|       UNKNOWN| UNKNOWN|  UNKNOWN|
|       UNKNOWN| UNKNOWN|  UNKNOWN|
|       UNKNOWN| UNKNOWN|  UNKNOWN|
|       UNKNOWN| UNKNOWN|  UNKNOWN|
|         25-44|       M|    BLACK|
|       UNKNOWN| UNKNOWN|  UNKNOWN|
|         25-44|       M|    BLACK|
|       UNKNOWN| UNKNOWN|  UNKNOWN|
|       UNKNOWN|       U|  UNKNOWN|
|       UNKNOWN|       U|  UNKNOWN|
|       UNKNOWN|       M|  UNKNOWN|
|         25-44|       M|    BLACK|
|       UNKNOWN| UNKNOWN|  UNKNOWN|
|       UNKNOWN| UNKNOWN|  UNKNOWN|
|         25-44|       M|    BLACK|
+--------------+--------+---------+
only showing top 20 rows

In [5]:
#format date column from hh:mm:ss to hh:mm

from pyspark.sql.functions import col, substring

# Assuming your time column is named 'OCCUR_TIME'
df = df.withColumn('OCCUR_TIME', substring(col('OCCUR_TIME'), 1, 5))

# Show the updated DataFrame
df.select('OCCUR_TIME').show()

+----------+
|OCCUR_TIME|
+----------+
|     21:30|
|     17:40|
|     03:56|
|     18:30|
|     22:58|
|     21:36|
|     22:47|
|     19:41|
|     05:45|
|     01:10|
|     03:21|
|     01:27|
|     20:17|
|     21:58|
|     20:13|
|     01:27|
|     02:22|
|     21:07|
|     02:44|
|     21:17|
+----------+
only showing top 20 rows

In [6]:
from pyspark.sql import SparkSession 
from pyspark.sql.functions import year, month, dayofweek, to_date
# Create a Spark sessionspark = SparkSession.builder.appName("FeatureEngineering").getOrCreate()

In [7]:
df = df.withColumn("OCCUR_DATE", to_date("OCCUR_DATE", "MM/dd/yyyy"))

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import year, month, date_format
df = df.withColumn("Year", year("OCCUR_DATE")).withColumn("Month", month("OCCUR_DATE")).withColumn("DayOfWeek", date_format("OCCUR_DATE", 'E'))
df.select('OCCUR_DATE', 'Year', 'Month', 'DayOfWeek').show()

+----------+----+-----+---------+
|OCCUR_DATE|Year|Month|DayOfWeek|
+----------+----+-----+---------+
|2021-05-27|2021|    5|      Thu|
|2014-06-27|2014|    6|      Fri|
|2015-11-21|2015|   11|      Sat|
|2015-10-09|2015|   10|      Fri|
|2009-02-19|2009|    2|      Thu|
|2020-10-21|2020|   10|      Wed|
|2012-06-17|2012|    6|      Sun|
|2010-03-08|2010|    3|      Mon|
|2012-02-05|2012|    2|      Sun|
|2012-08-26|2012|    8|      Sun|
|2010-10-10|2010|   10|      Sun|
|2010-08-29|2010|    8|      Sun|
|2021-10-09|2021|   10|      Sat|
|2011-05-25|2011|    5|      Wed|
|2008-11-09|2008|   11|      Sun|
|2007-07-05|2007|    7|      Thu|
|2010-07-27|2010|    7|      Tue|
|2012-11-14|2012|   11|      Wed|
|2021-07-01|2021|    7|      Thu|
|2021-03-07|2021|    3|      Sun|
+----------+----+-----+---------+
only showing top 20 rows

In [14]:
from pyspark.sql import SparkSession

# Initialize a Spark session
spark = SparkSession.builder.appName("NYPD_data").getOrCreate()

# Assuming df is your PySpark DataFrame after preprocessing

# Write the preprocessed data to GCS
bucket_name = "nypd_processed"  # Replace with your GCS bucket name
output_path = "gs://{}/nypd_processed".format(bucket_name)  # Replace with your desired GCS path

# Use the write method directly on df
df.write.mode("overwrite").parquet(output_path)

In [15]:
df.show()

+------------+----------+----------+---------+-----------------+--------+-----------------+------------------+--------------------+-----------------------+--------------+--------+---------+-------------+-------+--------------+------------+-------------+------------------+------------------+--------------------+----+-----+---------+
|INCIDENT_KEY|OCCUR_DATE|OCCUR_TIME|     BORO|LOC_OF_OCCUR_DESC|PRECINCT|JURISDICTION_CODE|LOC_CLASSFCTN_DESC|       LOCATION_DESC|STATISTICAL_MURDER_FLAG|PERP_AGE_GROUP|PERP_SEX|PERP_RACE|VIC_AGE_GROUP|VIC_SEX|      VIC_RACE|  X_COORD_CD|   Y_COORD_CD|          Latitude|         Longitude|             Lon_Lat|Year|Month|DayOfWeek|
+------------+----------+----------+---------+-----------------+--------+-----------------+------------------+--------------------+-----------------------+--------------+--------+---------+-------------+-------+--------------+------------+-------------+------------------+------------------+--------------------+----+-----+---------+
|   228798151|2021-05-27|     21:30|   QUEENS|          UNKNOWN|     105|              0.0|           UNKNOWN|             UNKNOWN|                  false|       UNKNOWN| UNKNOWN|  UNKNOWN|        18-24|      M|         BLACK|   1058925.0|     180924.0|40.662964620000025|-73.73083868899994|POINT (-73.730838...|2021|    5|      Thu|
|   137471050|2014-06-27|     17:40|    BRONX|          UNKNOWN|      40|              0.0|           UNKNOWN|             UNKNOWN|                  false|       UNKNOWN| UNKNOWN|  UNKNOWN|        18-24|      M|         BLACK|   1005028.0|     234516.0| 40.81035186300005|-73.92494232599995|POINT (-73.924942...|2014|    6|      Fri|
|   147998800|2015-11-21|     03:56|   QUEENS|          UNKNOWN|     108|              0.0|           UNKNOWN|             UNKNOWN|                   true|       UNKNOWN| UNKNOWN|  UNKNOWN|        25-44|      M|         WHITE|1007667.9375| 209836.53125| 40.74260663300004|-73.91549174199997|POINT (-73.915491...|2015|   11|      Sat|
|   146837977|2015-10-09|     18:30|    BRONX|          UNKNOWN|      44|              0.0|           UNKNOWN|             UNKNOWN|                  false|       UNKNOWN| UNKNOWN|  UNKNOWN|          <18|      M|WHITE HISPANIC| 1006537.375|244511.140625| 40.83778200300002|-73.91945661499993|POINT (-73.919456...|2015|   10|      Fri|
|    58921844|2009-02-19|     22:58|    BRONX|          UNKNOWN|      47|              0.0|           UNKNOWN|             UNKNOWN|                   true|         25-44|       M|    BLACK|        45-64|      M|         BLACK|1024921.8125| 262189.40625| 40.88623791800006|-73.85290950899997|POINT (-73.852909...|2009|    2|      Thu|
|   219559682|2020-10-21|     21:36| BROOKLYN|          UNKNOWN|      81|              0.0|           UNKNOWN|             UNKNOWN|                   true|       UNKNOWN| UNKNOWN|  UNKNOWN|        25-44|      M|         BLACK|1004234.3125|186461.703125|40.678456718000064|-73.92795224099996|POINT (-73.927952...|2020|   10|      Wed|
|    85295722|2012-06-17|     22:47|   QUEENS|          UNKNOWN|     114|              0.0|           UNKNOWN|             UNKNOWN|                  false|       UNKNOWN| UNKNOWN|  UNKNOWN|        25-44|      M|         BLACK|    998860.0|     214885.0| 40.75648234300007|-73.94726649399996|POINT (-73.947266...|2012|    6|      Sun|
|    71662474|2010-03-08|     19:41| BROOKLYN|          UNKNOWN|      81|              0.0|           UNKNOWN|             UNKNOWN|                   true|       UNKNOWN| UNKNOWN|  UNKNOWN|        18-24|      M|         BLACK| 1002882.875|192219.703125| 40.69426405600007|-73.93280863699994|POINT (-73.932808...|2010|    3|      Mon|
|    83002139|2012-02-05|     05:45|   QUEENS|          UNKNOWN|     105|              0.0|           UNKNOWN|             UNKNOWN|                  false|       UNKNOWN| UNKNOWN|  UNKNOWN|        25-44|      M|         BLACK| 1054366.375| 196628.40625|40.706106731000034|-73.74710653899997|POINT (-73.747106...|2012|    2|      Sun|
|    86437261|2012-08-26|     01:10|   QUEENS|          UNKNOWN|     101|              0.0|           UNKNOWN|MULTI DWELL - APT...|                  false|         25-44|       M|    BLACK|        25-44|      M|         BLACK| 1053936.625|157130.421875| 40.59769719800005|-73.74906464199995|POINT (-73.749064...|2012|    8|      Sun|
|    74998200|2010-10-10|     03:21|MANHATTAN|          UNKNOWN|      23|              2.0|           UNKNOWN|MULTI DWELL - PUB...|                  false|       UNKNOWN| UNKNOWN|  UNKNOWN|        25-44|      M|         BLACK|  999061.375|229911.671875| 40.79772626500005|-73.94650650799997|POINT (-73.946506...|2010|   10|      Sun|
|    74363835|2010-08-29|     01:27| BROOKLYN|          UNKNOWN|      75|              0.0|           UNKNOWN|      GROCERY/BODEGA|                  false|         25-44|       M|    BLACK|        25-44|      M|         BLACK|   1013136.0|     179968.0| 40.66060839100004|-73.89588694299994|POINT (-73.895886...|2010|    8|      Sun|
|   234756217|2021-10-09|     20:17| BROOKLYN|          UNKNOWN|      71|              0.0|           UNKNOWN|             UNKNOWN|                  false|       UNKNOWN| UNKNOWN|  UNKNOWN|        25-44|      M|         BLACK|    996148.0|     181562.0| 40.66502269100005|-73.95711436799998|POINT (-73.957114...|2021|   10|      Sat|
|    78961869|2011-05-25|     21:58|    BRONX|          UNKNOWN|      50|              0.0|           UNKNOWN|             UNKNOWN|                  false|       UNKNOWN|       U|  UNKNOWN|        18-24|      M|         WHITE|1010353.4375| 261534.28125| 40.88449492200005|-73.90559937499995|POINT (-73.905599...|2011|    5|      Wed|
|    53891791|2008-11-09|     20:13| BROOKLYN|          UNKNOWN|      78|              2.0|           UNKNOWN|MULTI DWELL - PUB...|                  false|       UNKNOWN|       U|  UNKNOWN|        25-44|      M|BLACK HISPANIC| 988398.4375|   187950.625|40.682565055000055|-73.98504421199993|POINT (-73.985044...|2008|   11|      Sun|
|    32914993|2007-07-05|     01:27|    BRONX|          UNKNOWN|      47|              2.0|           UNKNOWN|MULTI DWELL - PUB...|                  false|       UNKNOWN|       M|  UNKNOWN|        18-24|      M|         BLACK|   1026013.0|   261421.125| 40.88412413300006|-73.84896796399995|POINT (-73.848967...|2007|    7|      Thu|
|    73879554|2010-07-27|     02:22|MANHATTAN|          UNKNOWN|      30|              0.0|           UNKNOWN|             UNKNOWN|                   true|         25-44|       M|    BLACK|        25-44|      M|         BLACK| 999967.4375|  240325.5625| 40.82630793100003|-73.94320965699995|POINT (-73.943209...|2010|    7|      Tue|
|    87694905|2012-11-14|     21:07| BROOKLYN|          UNKNOWN|      81|              0.0|           UNKNOWN|MULTI DWELL - APT...|                  false|       UNKNOWN| UNKNOWN|  UNKNOWN|        25-44|      M|         BLACK|  1005555.75|  186370.9375|40.678204504000064|-73.92318836699997|POINT (-73.923188...|2012|   11|      Wed|
|   230311079|2021-07-01|     02:44| BROOKLYN|          UNKNOWN|      73|              0.0|           UNKNOWN|             UNKNOWN|                  false|       UNKNOWN| UNKNOWN|  UNKNOWN|        25-44|      M|         BLACK|   1009826.0|     183194.0| 40.66947322100003|-73.90780500799997|POINT (-73.907805...|2021|    7|      Thu|
|   225297069|2021-03-07|     21:17| BROOKLYN|          UNKNOWN|      71|              0.0|           UNKNOWN|MULTI DWELL - APT...|                  false|         25-44|       M|    BLACK|        25-44|      M|         WHITE|    995792.0|     178767.0| 40.65735150300002|-73.95840237599998|POINT (-73.958402...|2021|    3|      Sun|
+------------+----------+----------+---------+-----------------+--------+-----------------+------------------+--------------------+-----------------------+--------------+--------+---------+-------------+-------+--------------+------------+-------------+------------------+------------------+--------------------+----+-----+---------+
only showing top 20 rows